/* Auth.css */
.landing-page {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    margin: 10px;
  }
  
  .login-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .register-button {
    background-color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  